/*all fonts*/

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

 
body{
    background-color: #f6f6f8;
}

/*Navber Style*/
nav{
    max-width: 100%;
    background:url("../Assets/Hero-bg.png");
}


.add_logo{
    display: flex;
    justify-content: space-between;
    margin: 5px 150px; 
}

.sign_btn{
    display: flex;
    align-items: center;
}

.add_logo h2{
    font-size: 34px;
    color: #4E47FF;
}
.add_logo button{
    background-color: #4E47FF;
    color:#FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}

.content_navber{
    max-width: 905px;
    margin: 0 auto;
}

.add_content p{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 37px;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-bottom: 152px;
    cursor: pointer;
}


/*section style*/

main{
    max-width: 1140px;
    margin: 0 auto;
    /*background-color:aqua ;*/
}
.sec{
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
}

.content,.main_con{
    max-width: 517px;
}
.content_img img{
    border-radius: 48px;
}

.main_con{
    display: flex;
    align-items: center;
}

.content_geeting p{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content_des p{
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}
.content_btn button{
    border-radius: 10px;
    background-color:#4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
}
.productive_users{
    background-color: #ebeaff;
    border-radius: 24px;
    margin-top: 122px;
    margin-bottom: 50px;
}
.user{
    margin-top: 30px;
}
.usr p{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    padding-top: 50px;
}
.matrics{
    display: flex;
    justify-content:space-around ;
    margin-top: -45px;
}



.first{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin-bottom:-20px;
}

.second{
    color: #757575;
}

.focus_session{
    text-align: center;
}
.focus_session .second{
    margin-bottom: 50px;
    font-size: 20px;
}

.user_say{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-top: 131px;
    text-align: center;
}

.user_details{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.single_card{
    max-width: 366px;
    border-radius: 14px;
    background-color: #ffffff;
    padding: 24px;
}

.img_with_content{
    display: flex;
    align-items:top;
    align-items: center;
    background-color:
    margin-top: 24px;
}
.image img{
    border-radius: 14px;
    margin-right: 12px;
}
.nme{
    margin-top: 10px;
}
.dte{
    margin-top: -10px;
}

.star{
    margin-bottom: 24px;
}

.user_satisfaction p{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: -2px;
}
.user_feedback{
    font-size: 16px;
    line-height: 23px;
}

.nme{
    color: #757575;
    font-size: 16px;
    font-weight:bold;
}

.dte{
    color: #757575;
    font-size: 16px;
}

.user_info{
    margin-bottom: 137px;
}

.in_de{
    max-width: 840px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 70px 150px;
    border-radius: 14px;
}
.geet p{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
}

.content_info{
    margin-bottom:20px;
}
.in_de_btn{
    display: flex;
    justify-content: center;
}
.in_de_btn button{
    padding: 13px 36px;
    margin-bottom: 20px;
    border: none;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 16px;
}

.con p{
    color:#757575;
    text-align: center;
    margin-top: -20px;
    font-size: 16px;
    margin-bottom: 30px;
}

.img_info{
    margin-bottom: -10px;
}

.img_info img{
    border-radius: 48px;
    
}

.in_de{
    margin-bottom: 92px;
}

.info_details{
    display: flex;
    justify-content: space-between;
}

.info_con p{
    font-size: 97px;
    font-weight: bold;
    max-width: 528px;
}

inf_frm{
    max-width: 1140px;
}
.inf_frm form label{
    display: block;
    width: 497px;
    font-size: 18px;
    margin-bottom: 10px;
}

.inf_frm form input[type="email"]{
    display: block;
    width:87%;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 20px 32px;
    border-radius: 10px;
    border: none;
    margin-bottom: 19px;
}
.inf_frm form input[type="text"]{
    display: block;
    width: 87%;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 20px 32px;
    border-radius: 10px;
    border: none;
    margin-bottom: 19px;
}
textarea{
    display: block;
    width: 87%;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 20px 32px;
    border-radius: 10px;
    border: none;
    margin-bottom: 19px;
    resize: none;
}
.inf_frm form input[type="button"]{
    display: block;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 20px 32px;
    border-radius: 10px;
    border: none;
    margin-bottom: 19px;
    background-color: #4E47FF;
    color: #FFFFFF;
}